@import 'media';

/*
@menu-color: #f2f2ed;
@font-color: #c00;
.page {
 width: 100%;
 margin: 0;
 background-color: #fff;
 font-family: Roboto, sans-serif;
 font-size: 14px;
 &__header {
  width: 100%;
  color: @font-color;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  @media @phone {
   width: 100%;
  }
 }
 &__breadcrumbs {
  width: 100%;
  margin: 0 auto;
  @media @phone {
   margin: 0 auto;
  }
  @media @tablet-strict {
   margin: 0 auto;
  }
  @media @desktop {
   width: 100%;
  }
 }*/