<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple-blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!--[If it IE 9]>
    <script src=" //html5shiv.googlecode.com/ svn/trunk/html5.js"></script>
    <![end if]-->
</head>

<body id="doc" class="page">
<div class="page__header">
    <img class="page__header page__header_img" src="img/home-header.png">
    <img class="user-photo" src="img/circle-foto-header.png">
</div>

<div class="page__nav">
    <nav class="navigation">
        <ul class="navigation navigation__group navigation__group_first ">
            <li class="navigation__group navigation__group_list"><a href="#" class="link active">Home</a></li>
            <li class="navigation__group navigation__group_list"><a href="#" class="link">About</a></li>
        </ul>
        <ul class="navigation navigation__group   navigation__group_last ">
            <li class="category navigation__group navigation__group_list"><a href="#" class="link sort">Category </a>
                <ul class="popup">
                    <li class="popup__group"><a class="popup__link" href="/post.html">Diary</a></li>
                    <li class="popup__group"><a class="popup__link" href="/post.html">Personal</a></li>
                    <li class="popup__group"><a class="popup__link" href="/post.html">Holyday</a></li>
                    <li class="popup__group"><a class="popup__link" href="/post.html">Work</a></li>
                    <li class="popup__group"><a class="popup__link" href="/post.html">Family</a></li>
                </ul>

            </li>
            <li class="navigation__group navigation__group_list"><a href="#" class="link ">Contact</a></li>
        </ul>

    </nav>
</div>


<div class="page__content page__content_post-content">

    <div class="post page-post">
        <div class="post__date">
            31 Jul
        </div>
        <div class="post__description">
            <div class=" post__description post__description_header">
                <div class="cat">cat :<a class="cat__link" href="#"> Diary , </a> <a class="cat__link" href="#">
                        Personal</a></div>
                <div class="likes"><i class="fa fa-heart" aria-hidden="true"></i><a class="likes__link" href="#">136
                        Likes </a></div>
                <div class="comments"><a class="comments__link message" href="#">21 Comments</a>
                </div>
            </div>
            <div class="post__description post__description_content">
                <h1 class="title">Lorem Ipsum Dolor Sit Amet</h1>
                <p class="post-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo.
                </p>

                <p class="post-text">
                    Morbi accumsan ipsum velit nam nec tellus tincidunt auctor ornare odio sed non consequat auctor.
                    Lorem Ipsum proin gravida auctor sociosqu sollicitudin lorem quis bibendum auctor consequat ipsum
                    nec sagittis sem.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.
                    nesciunt.</p>

                <div class="description-picture">
                    <img class="description-picture description-picture_img" src="img/auto.png">
                </div>

                <ul class="tags">
                    <li class="tags tags__list name">TAGS</li>
                    <li class="tags tags__list"><a href="#" class="tags tags__list_link"> holyday ,</a></li>
                    <li class="tags tags__list"><a href="#" class="tags tags__list_link"> diary ,</a></li>
                    <li class="tags tags__list"><a href="#" class="tags tags__list_link"> bestmomments </a></li>
                </ul>

            </div>
        </div>
        <div class="commentaries">
            <div class="commentaries commentaries__wrapper">
                <span class="commentaries__wrapper_counter">21 Comments</span>
                <a href="#" class="commentaries__wrapper_link"> Next Stories > </a>
            </div>
        </div>

        <div class="post-commentaries">
            <div class="post-commentaries post-commentaries__wrapper">
                <h1 class="post-commentaries__wrapper post-commentaries__wrapper_header">Post A Comment</h1>
                <div class="block">
                    <div class="block__pre-form">
                        <p class="block__pre-form_name">Use Your Real Name</p>
                        <p class="block__pre-form_text">Write a good comment</p>
                    </div>
                    <div class="block__form">
                        <form name="test" method="post" action="input1.php">
                            <input class="block__form block__form_input" type="text" value="Name">
                            <input class="block__form block__form_input" type="text" value="Email">
                            <textarea class="block__form block__form_comment-input" name="comment" cols="44" rows="7">Comments</textarea>
                            <a class="block__form block__form_button-post">POST</a>
                        </form>
                    </div>
                    <div class="block__post-form"><p class="block__post-form_email">Email Will not published</p></div>
                </div>
            </div>
        </div>
        <div class="comment-list">
            <div class="comment-list__photo-block">
                <div class="comment-list__photo-block comment-list__photo-block_photo">


                </div>
                <div class="comment-list__photo-block comment-list__photo-block_photo">


                </div>
            </div>

            <div class="comment-list__comment-block">

                <div class="comment-list__comment-block comment-list__comment-block_comment-description">

                    <h2 class="user-name">John Doe</h2>

                    <p class="comment-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh ut
                        perspiciatis unde
                        omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaqueipsa quae ab illo totam rem aperiam,
                        eaqueipsa quae .
                    </p>

                    <a href="#" class="comment-reply">Reply </a>

                </div>

                <div class="comment-list__comment-block comment-list__comment-block_comment-description">

                    <h2 class="user-name">John Doe</h2>

                    <p class="comment-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh ut
                        perspiciatis unde
                        omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaqueipsa quae ab illo totam rem aperiam,
                        eaqueipsa quae .
                    </p>

                    <a href="#" class="comment-reply">Reply </a>

                </div>
            </div>

        </div>
    </div>

</div>


<div class="page__footer">

    <div class="button">
        <a href="#" class="button__link">Show More Comments</a>
    </div>

    <div class="pagination">
        <a class="pagination__link" href="#">&laquo;</a>
        <a class="pagination__link" href="#">1</a>
        <a class="pagination__link pagination__link_active" href="#">2</a>
        <a class="pagination__link" href="#">3</a>
        <a class="pagination__link" href="#">4</a>
        <a class="pagination__link" href="#">5</a>
        <a class="pagination__link" href="#">6</a>
        <a class="pagination__link" href="#">&raquo;</a>
    </div>

    <p class="copyright">Copyright (c) <a class="copyright__link" href="#">Ficristudio</a> 2017</p>

</div>
</div>
</div>

<script type="module" src="js/scripts.js"></script>
</body>

</html>